<?xml version="1.0" encoding="UTF-8"?><project>
  <actions/>
  <description>Android Nougat s5p4418 daily build

매주 월,수 22:00 trigger됨. 
&lt;!-- Managed by Jenkins Job Builder --&gt;</description>
  <keepDependencies>false</keepDependencies>
  <disabled>false</disabled>
  <displayName>android_nougat_s5p4418_daily</displayName>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <concurrentBuild>false</concurrentBuild>
  <assignedNode>master</assignedNode>
  <canRoam>false</canRoam>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>hudson.model.Item.Read:anonymous</permission>
      <permission>hudson.model.Item.ExtendedRead:anonymous</permission>
      <permission>hudson.model.Item.Workspace:anonymous</permission>
    </hudson.security.AuthorizationMatrixProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>31</daysToKeep>
        <numToKeep>10</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <triggers class="vector">
    <hudson.triggers.TimerTrigger>
      <spec>TZ=Asia/Seoul
H(0-1) 22 * * 1,3
</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

echo "*****************************************"
echo "   Jenkins - Android environment setup   "
echo "*****************************************"

export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8
export LANGUAGE=en_US.UTF-8
export USER=nxJenkins

repo sync

echo "*************************************"
echo "   Android nougat s5p4418 navi_ref   "
echo "*************************************"
./device/nexell/navi_ref/build.sh -d result-navi
</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

echo "************************************"
echo " clean old dirs                     "
echo "************************************"
rm -rf result-*-daily
rm -rf result-*-daily.tar.gz

echo "************************************"
echo " BUILD-INFO.txt copy to result dir  "
echo "************************************"
cp ${JENKINS_HOME}/snapshot_build_info/BUILD-INFO.txt result-navi/

echo "************************************"
echo " Compress result dirs               "
echo "************************************"
tar cvzf result-s5p4418-navi-ref-nougat.tar.gz   result-navi/*

echo "************************************"
echo " Rename tarballs                    "
echo "************************************"
mv result-s5p4418-navi-ref-nougat.tar.gz  result-s5p4418-android-nougat-navi-ref-`date +%Y%m%d`-daily.tar.gz

echo "************************************"
echo " Rename result dirs                 "
echo "************************************"
mv result-navi         result-s5p4418-android-nougat-navi-ref-`date +%Y%m%d`-daily
</command>
    </hudson.tasks.Shell>
    <jenkins.plugins.publish__over__ssh.BapSshBuilderPlugin>
      <delegate>
        <consolePrefix>SSH: </consolePrefix>
        <delegate>
          <publishers>
            <jenkins.plugins.publish__over__ssh.BapSshPublisher>
              <configName>nexell-snapshot</configName>
              <verbose>false</verbose>
              <transfers>
                <jenkins.plugins.publish__over__ssh.BapSshTransfer>
                  <remoteDirectory>s5p4418/android/nougat/daily</remoteDirectory>
                  <sourceFiles>result-*/**</sourceFiles>
                  <excludes/>
                  <removePrefix/>
                  <remoteDirectorySDF>false</remoteDirectorySDF>
                  <flatten>false</flatten>
                  <cleanRemote>false</cleanRemote>
                  <execTimeout>3600</execTimeout>
                </jenkins.plugins.publish__over__ssh.BapSshTransfer>
              </transfers>
              <useWorkspaceInPromotion>false</useWorkspaceInPromotion>
              <usePromotionTimestamp>false</usePromotionTimestamp>
            </jenkins.plugins.publish__over__ssh.BapSshPublisher>
          </publishers>
          <continueOnError>false</continueOnError>
          <failOnError>false</failOnError>
          <alwaysPublishFromMaster>false</alwaysPublishFromMaster>
          <hostConfigurationAccess class="jenkins.plugins.publish_over_ssh.BapSshPublisherPlugin" reference="../.."/>
        </delegate>
      </delegate>
    </jenkins.plugins.publish__over__ssh.BapSshBuilderPlugin>
  </builders>
  <publishers>
    <hudson.plugins.logparser.LogParserPublisher plugin="log-parser">
      <unstableOnWarning>false</unstableOnWarning>
      <failBuildOnError>true</failBuildOnError>
      <showGraphs>true</showGraphs>
      <useProjectRule>false</useProjectRule>
      <parsingRulesPath>/var/lib/jenkins/build_rule/build_android.rules</parsingRulesPath>
    </hudson.plugins.logparser.LogParserPublisher>
    <hudson.tasks.BuildTrigger>
      <childProjects>android_nougat_s5p6818_daily</childProjects>
      <threshold>
        <name>FAILURE</name>
        <ordinal>2</ordinal>
        <color>RED</color>
      </threshold>
    </hudson.tasks.BuildTrigger>
    <hudson.tasks.Mailer plugin="mailer">
      <recipients>jenkins@nexell.co.kr</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper/>
  </buildWrappers>
</project>