<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Yocto Dunfell s5p4418 daily build&#xd;
&#xd;
매주 수, 금 2:00 trigger됨.</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>TZ=Asia/Seoul
H(0-1) 2 * * 3,5</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

#cd ../yocto_dunfell_s5p4418_daily

echo &quot;***************************************&quot;
echo &quot;   Jenkins - Yocto environment setup   &quot;
echo &quot;***************************************&quot;

#repo sync


echo &quot;***************************************&quot;
echo &quot;   clean build directory   &quot;
echo &quot;***************************************&quot;

#rm -rf build/


echo &quot;*****************************************&quot;
echo &quot;   Yocto Dunfell convergence-svmc qt (s5p4418)    &quot;
echo &quot;*****************************************&quot;
#source envsetup.sh s5p4418-convergence-svmc qt
#bitbake nexell-qt


</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

cd ../yocto_dunfell_s5p4418_daily

echo &quot;*****************************************&quot;
echo &quot;   Yocto Dunfell navi-ref qt (s5p4418)    &quot;
echo &quot;*****************************************&quot;
source envsetup.sh s5p4418-navi-ref qt
bitbake nexell-qt</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>